body{
    margin: 0px;
    padding: 0px;
    background-image: url(bg-image.jpg) ;
    background-size: cover;
    background-position: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 944px;
    height: 745px;
    background-color: rgb(0, 0, 0, 0.4);
    margin: 25px auto 25px auto;
    border: 2px solid black;    
}

header.aboutpage{
    height: 150px;
    background-color: grey;   
    background-image: url(../images/headerAboutMe.png);
}

.box{
    width: 600px;
    color: white;
    padding: 40px;
    background:rgb(0, 0, 0, 0.4);
    text-align: center;
    margin: 100px auto auto auto ;
    font-family: fantasy;
}

.box img{
    height: 250px;
    width: 200px;    
}

.box h2 {
    font-size: 30px;
    letter-spacing: 3px;
}

.box p{
    text-align: center;
}

h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;
}

nav{
    height: 60px;
    background-color: rgb(124, 119, 119);
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    float: left;
    width: 230px;
    height: 40px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: white;
    display: inline;
}

ul li a:hover{
    background-color: rgb(191, 182, 182);   
    height: 30px;
}

ul li ul li{
    display: none;
    color:white;
}

ul li:hover ul li{
    display: block;
}

article{
    height: 200px;
    margin: 130px auto auto auto;
    text-align: center;
    color: white;
    font-family: fantasy;
}

article img{
    margin: 0px auto auto 30px;
    float: left;
    width: 250px;   
}

article h2{
    margin-top: 80px;
    margin-right: 100px;
    letter-spacing: 2px;    
    letter-spacing: 3px;
}

article p {
    text-align: center;
    margin-top: 80px;
}

article.friends {
    height: 200px;
    margin: 100px auto auto auto;
    text-align: center;
    color: white;
    font-family: fantasy;
}

article.friends img{
    margin: 0px 80px auto auto;
    float: right;
    width: 450px;  
    height: 400px; 
}

article.friends h2{
    text-align: center;
    letter-spacing: 3px;
}

article.friends p{
    margin-top: 50px;
}

article.interest{
    margin: 100px auto auto auto;
    width: 940;  
    height: 400px;
    text-align: center;
}

article.interest h2{
    margin-left: 300px;
    letter-spacing: 3px;
}

article.interest p#navigation a{
    font-size: 30px;
    margin: auto 50px auto auto;
    text-decoration: none;
    color: white;
}

article.interest p#navigation a:hover{
    color: red;
}

article.interest #musicbox{
    width: 30px;
    margin-left: 570px;
}

article.interest #animenavigation{
    width: 30px;
    margin-top: 120px;
    margin-left: 570px;
}

article.interest #dota2{
    width: 40px;
    margin-left: 550px;
}

article.interest p#navigationdota2 a{
    font-size: 30px;
    margin: auto 50px auto auto;
    text-decoration: none;
    color: white;
}

article.interest p#navigationdota2 a:hover{
    color: red;
}

article.interest img#dota{
    height: 300px;
}

article.interest img#music{
    width: 300px;
    height: 300px;
}

.form{
    width: 600px;
    height: 520px;
    color: white;
    padding: 40px;
    background:rgb(0, 0, 0, 0.4);
    text-align: center;
    margin: 100px auto auto auto ;
    font-family: fantasy;
}

fieldset{
    color: grey;
    font-size: 30px;
    height: 470px;
    text-align: left;
    font-family: fantasy;
}

.formsplace{
    text-align: left;
}

.formsSize{
    color: black;
    height: 30px;
    width: 250px;
    font-size: 15px;
    margin-top: 20px;
}

.form a{
    text-decoration: none;
    color: white;
}

form a#close:hover{
    color: red;
}

.formsplace select.selectSize{
    width: 80px;
    font-size: 20px;
    margin-left: 70px;
    
}

.formsplace p#radiobutton{
    font-size: 20px;
    margin-top: 10px;
}

.formsplace input#submitbutton{
    width: 80px;
    font-size: 20px;
    margin-left: 230px;
}

article #goals{
    width: 50px;
    height: 100px;
    margin-left: 290px;
}

article #goalsnavi p a{
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 5px 20px;
    font-size: 30px;
    margin-right: 50px;
}

article #goalsnavi p a:hover{
    color: red;
}

article h2#actions {
    margin-left: 100px;
}